<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

<body>

    <%-include("./partials/header.ejs")%>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Inicio</a>
                    <span class="breadcrumb-item active">Carrito</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Productos</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">

                        <% let subtotal = 0; let total = 0; %>

                        <% if (CartItems) { CartItems.forEach (item=> { %>

                        <tr>
                            <td class="align-middle"><%=item.product.name%></td>
                            <td class="align-middle"><%=item.product.price%></td>
                            <td class="align-middle">
                                <form action="/cart/edit/<%=item.id%>?_method=PUT" method="POST">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">                                    
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-sm btn-primary btn-minus">
                                            <i class="fa fa-minus"></i>
                                            </button>
                                        </div>                                    
                                        <input type="text" name="quantity" id="quantity" class="form-control form-control-sm bg-secondary border-0 text-center" value="<%=item.quantity%>">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-sm btn-primary btn-plus">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>                                    
                                    </div>
                                </form>
                            </td>
                            <td class="align-middle"><%= (item.product.price * item.quantity).toFixed(2)%></td>
                            <td class="align-middle">
                                <form action="/cart/delete/<%=item.id%>?_method=delete" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button> 
                                </form>
                            </td>
                        </tr>

                        <% subtotal += (item.product.price * item.quantity) %>

                        <% })} %>

                        <% total += subtotal %>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Resumen</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>$<%=subtotal.toFixed(2)%></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Envio</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>$<%= total.toFixed(2)%></h5>
                        </div>
                        <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Finalizar compra</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

    <%-include("./partials/footer.ejs")%>
    
    <!-- Script de ordenamiento -->
    <script src="/js/itemsOrder.js"></script>      

</body>

</html>