<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

<body>

    <%-include("./partials/header.ejs")%>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Inicio</a>
                    <span class="breadcrumb-item active">Productos</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">                
                <!-- Color Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filtrar por categoria</span></h5>
                <div class="bg-light p-4 mb-30">



                    <form id="filterFormCategory">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="category-all" name="categoryFilter[]" value="category-all">
                            <label class="custom-control-label" for="category-all">Todas las categorías</label>
                            <span class="badge border font-weight-normal"><%= TotalProductCount %></span>
                        </div>
                
                        <% CategoriesWithProductCount.forEach(category => { %>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="<%= category.id %>" name="categoryFilter[]" value="<%= category.id %>">
                                <label class="custom-control-label" for="<%= category.id %>"><%= category.name %></label>
                                <span class="badge border font-weight-normal"><%= category.productCount %></span>
                            </div>
                        <% }); %>
                    </form>
                


                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filtrar por marca</span></h5>
                <div class="bg-light p-4 mb-30">

                    <form id="filterFormBrand">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="brand-all" name="brandFilter[]" value="brand-all">
                            <label class="custom-control-label" for="brand-all">Todas las marcas</label>
                            <span class="badge border font-weight-normal"><%= TotalProductCount %></span>
                        </div>
                
                        <% BrandProductCount.forEach(brand => { %>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="<%= brand.brand %>" name="brandFilter[]" value="<%= brand.brand %>">
                                <label class="custom-control-label" for="<%= brand.brand %>"><%= brand.brand %></label>
                                <span class="badge border font-weight-normal"><%= brand.productCount %></span>
                            </div>
                        <% }); %>
                    </form>

                </div>
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->

            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Ordenar por</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/products?order=name">Nombre</a>
                                        <a class="dropdown-item" href="/products?order=popular">Mas vendidos</a>
                                        <a class="dropdown-item" href="/products?order=lowPrice">Menor precio</a>
                                        <a class="dropdown-item" href="/products?order=highPrice">Mayor precio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                   

                    <% AllProducts.forEach(product => { %>
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/<%= product.product_images.url %>" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="/products/detail/<%=product.id%>"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="/products/detail/<%=product.id%>"><%= product.name %></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>$<%= product.price %></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>

                    <div class="col-12">
                        <nav>
                          <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

    <%-include("./partials/footer.ejs")%>

    <script>
        // Función para actualizar la URL y recargar la página
        function updateURL() {
            const categoryCheckboxes = document.querySelectorAll('#filterFormCategory input[name="categoryFilter[]"]');
            const selectedCategories = [];
    
            categoryCheckboxes.forEach(checkbox => {
                if (checkbox.checked && checkbox.value !== 'category-all') {
                    selectedCategories.push(checkbox.value);
                }
            });
    
            const brandCheckboxes = document.querySelectorAll('#filterFormBrand input[name="brandFilter[]"]');
            const selectedBrands = [];
    
            brandCheckboxes.forEach(checkbox => {
                if (checkbox.checked && checkbox.value !== 'brand-all') {
                    selectedBrands.push(checkbox.value);
                }
            });
    
            const url = new URL(window.location.href);
            const searchParams = new URLSearchParams(url.search);
    
            if (selectedCategories.length > 0) {
                searchParams.set('categoryFilter', JSON.stringify(selectedCategories));
            } else {
                searchParams.delete('categoryFilter');
            }
    
            if (selectedBrands.length > 0) {
                searchParams.set('brandFilter', JSON.stringify(selectedBrands));
            } else {
                searchParams.delete('brandFilter');
            }
    
            url.search = searchParams.toString();
            window.location.href = url.toString();
        }
    
        // Evento para escuchar cambios en los checkboxes del formulario de categorías
        const categoryCheckboxes = document.querySelectorAll('#filterFormCategory input[name="categoryFilter[]"]');
        categoryCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                if (checkbox.value === 'category-all' && checkbox.checked) {
                    categoryCheckboxes.forEach(check => {
                        if (check !== checkbox) {
                            check.checked = false;
                        }
                    });
                } else if (!checkbox.checked && document.getElementById('category-all').checked) {
                    document.getElementById('category-all').checked = false;
                }
    
                updateURL();
            });
        });
    
        // Evento para escuchar cambios en los checkboxes del formulario de marcas
        const brandCheckboxes = document.querySelectorAll('#filterFormBrand input[name="brandFilter[]"]');
        brandCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                if (checkbox.value === 'brand-all' && checkbox.checked) {
                    brandCheckboxes.forEach(check => {
                        if (check !== checkbox) {
                            check.checked = false;
                        }
                    });
                } else if (!checkbox.checked && document.getElementById('brand-all').checked) {
                    document.getElementById('brand-all').checked = false;
                }
    
                updateURL();
            });
        });
    
        // Marcar los checkboxes seleccionados al cargar la página
        const urlParams = new URLSearchParams(window.location.search);
        const selectedCategories = JSON.parse(urlParams.get('categoryFilter') || '[]');
        categoryCheckboxes.forEach(checkbox => {
            if (selectedCategories.includes(checkbox.value)) {
                checkbox.checked = true;
            }
        });
    
        const selectedBrands = JSON.parse(urlParams.get('brandFilter') || '[]');
        brandCheckboxes.forEach(checkbox => {
            if (selectedBrands.includes(checkbox.value)) {
                checkbox.checked = true;
            }
        });
    
        // Marcar el checkbox "Todas las categorías" al cargar la página si no hay otras categorías seleccionadas
        if (selectedCategories.length === 0) {
            document.getElementById('category-all').checked = true;
        }
    
        // Marcar el checkbox "Todas las marcas" al cargar la página si no hay otras marcas seleccionadas
        if (selectedBrands.length === 0) {
            document.getElementById('brand-all').checked = true;
        }
    
    </script>

</body>

</html>