<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

<body>

    <%-include("./partials/header.ejs")%>


    <div class="container-fluid">

        <p class="h2 text-center p-3">Bienvenido <%=user.name%>!!</p>

        <div class="container pb-5">

            <div class="row">

                <div class="mx-auto col-sm-12 col-md-12 col-lg-12 col-xl-12 p-3" style="width: 30rem;">

                    <div class="card mx-auto shadow-lg" style="width: 25rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=user.email %>
                            </h5>
                        </div>
                        <div class="card-body">
                            <a href="/users/profile/edit/"><button type="submit" href="/users/profile/edit/"
                                    class="btn btn-outline-secondary w-25">Editar</button></a>
                            <form action="/users/profile/delete/<%=user.id%>?_method=delete" method="post"
                                style="display:contents">
                                <button type="submit" class="btn btn-outline-danger w-25">Eliminar</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <%-include("./partials/footer.ejs")%>    
  

</body>

</html>