<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

<body>

    <%-include("./partials/header.ejs")%>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark text-decoration-none" href="/">Inicio</a>
                    <a class="breadcrumb-item text-dark text-decoration-none" href="/products">Productos</a>
                    <span class="breadcrumb-item active">Buscar</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">

            <!-- Shop Product Start -->
            <div class="col-lg-12 col-md-12">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <h5 class="text-uppercase m-0"><%= AllProducts.length === 0 ? 'sin resultados' : 'resultados' %></h5>
                            </div>
                            <% if (AllProducts.length > 0) { %>
                            <div class="ml-2">
                                <div class="btn-group ml-2">                
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Ordenar por</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a id="orderName" class="dropdown-item" href="#" onclick="buildOrderURL('name')">Nombre</a>
                                        <a id="orderPopular" class="dropdown-item" href="#" onclick="buildOrderURL('popular')">Mas vendidos</a>
                                        <a id="orderLowPrice" class="dropdown-item" href="#" onclick="buildOrderURL('lowPrice')">Menor precio</a>
                                        <a id="orderHighPrice" class="dropdown-item" href="#" onclick="buildOrderURL('highPrice')">Mayor precio</a>
                                    </div>                                                         
                                </div>
                            </div>
                            <% } %>                        
                        </div>
                    </div>                    
                    <% if (AllProducts.length === 0) { %>
                        <!-- genero espacio en blanco que ocupe pantalla -->
                        <div style="height: 67vh;"></div>
                    <% } else { %>
                        <% AllProducts.forEach(product => { %>
                            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden">
                                        <img class="img-fluid w-100" src="img/<%= product.product_images.url %>" alt="">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" href="/cart/<%=product.id%>"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="btn btn-outline-dark btn-square" href="/products/detail/<%=product.id%>"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <a class="h6 text-decoration-none text-truncate" href="/products/detail/<%=product.id%>"><%= product.name %></a>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5>$<%= product.price %></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
            </div>
            <!-- Shop Product End -->
            
        </div>
    </div>
    <!-- Shop End -->

    <%-include("./partials/footer.ejs")%>
    
    <!-- Script de ordenamiento -->
    <script src="/js/itemsOrder.js"></script>      

</body>

</html>