<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

  <body>

    <%-include("./partials/header.ejs")%>

      <!-- Breadcrumb Start -->
        <div class="container-fluid">
          <div class="row px-xl-5">
              <div class="col-12">
                  <nav class="breadcrumb bg-light mb-30">
                      <a class="breadcrumb-item text-dark text-decoration-none" href="/">Inicio</a>
                      <span class="breadcrumb-item active">Ajustes</span>
                  </nav>
              </div>
          </div>
      </div>
      <!-- Breadcrumb End -->

      <div class="container-fluid pb-5">
        <div class="row px-xl-5">
          <div class="col">
            <div class="bg-light p-30">
              <div class="nav nav-tabs mb-4">
                <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Productos</a>
                <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Usuarios</a>
              </div>
              <div class="tab-content">

                <!-- Products -->

                <div class="tab-pane fade show active" id="tab-pane-1">
                  <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                      <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Position</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                              style="width: 45px; height: 45px" class="rounded-circle" />
                            <div class="ms-3">
                              <p class="fw-bold mb-1">John Doe</p>
                              <p class="text-muted mb-0">john.doe@gmail.com</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">Software engineer</p>
                          <p class="text-muted mb-0">IT department</p>
                        </td>
                        <td>
                          <span class="badge badge-success rounded-pill d-inline">Active</span>
                        </td>
                        <td>Senior</td>
                        <td>
                          <button type="button" class="btn btn-link btn-sm btn-rounded">
                            Edit
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
                              style="width: 45px; height: 45px" />
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Alex Ray</p>
                              <p class="text-muted mb-0">alex.ray@gmail.com</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">Consultant</p>
                          <p class="text-muted mb-0">Finance</p>
                        </td>
                        <td>
                          <span class="badge badge-primary rounded-pill d-inline">Onboarding</span>
                        </td>
                        <td>Junior</td>
                        <td>
                          <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold"
                            data-mdb-ripple-color="dark">
                            Edit
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/7.jpg" class="rounded-circle" alt=""
                              style="width: 45px; height: 45px" />
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Kate Hunington</p>
                              <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">Designer</p>
                          <p class="text-muted mb-0">UI/UX</p>
                        </td>
                        <td>
                          <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                        </td>
                        <td>Senior</td>
                        <td>
                          <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold"
                            data-mdb-ripple-color="dark">
                            Edit
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
                <!-- Users -->

                <div class="tab-pane fade" id="tab-pane-2">

                  <div class="pb-3">
                    <span class="text-uppercase font-weight-bold">Usuarios registrados: <%=Users.length%></span>
                  </div>                  

                  <table class="table table-light table-hover text-center mb-0">
                    <thead class="thead-dark">
                      <tr>
                        <th class="d-none d-lg-block border-0">Nombre</th>
                        <th class="border-0">Email</th>
                        <th class="border-0">Rol</th>
                        <th class="border-0">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>                    

                    <% if (Users) { Users.forEach (item=> { %>

                      <tr>
                        <td class="d-none d-lg-block">
                          <p><%=item.name%></p>
                        </td>                        
                        <td>
                          <p><%=item.email%></p>
                        </td>
                        <td>
                          <span class="badge badge-success rounded-pill d-inline"><%=item.role%></span>
                        </td>
                        <td>
                          <button type="submit" data-toggle="modal" data-target="#userDeleteModal" data-id="<%=item.id %>" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                        </td>
                      </tr>                    

                    <% })} %>

                    </tbody>
                  </table>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal User Delete -->

      <div class="modal fade" id="userDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title">Atencion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
              ¿Esta seguro que desea borrar el usuario?
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
              <form action="" method="POST"><button type="submit" class="btn btn-danger">Borrar</button></form>
              </div>
          </div>
        </div>
      </div>

      <%-include("./partials/footer.ejs")%>

      <!-- script para que el modal importe el valor de la iteracion -->

      <script>
        $(document).ready(function() {
          // Cuando se hace clic en un botón con la clase "btn-danger"
          $('#userDeleteModal').on('show.bs.modal', function (event) {
            // Capturamos el botón que activó el modal
            var button = $(event.relatedTarget);
            // Obtenemos el valor de data-id del botón
            var userId = button.data('id');
      
            // Pasamos el valor al formulario de eliminación dentro del modal
            var modal = $(this);
            modal.find('form').attr('action', '/settings/user/delete/' + userId + '?_method=DELETE');
          });
        });
      </script>     

  </body>

</html>