<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head.ejs")%>

  <body>

    <%-include("./partials/header.ejs")%>

      <!-- Breadcrumb Start -->
      <div class="container-fluid">
        <div class="row px-xl-5">
          <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
              <a class="breadcrumb-item text-dark text-decoration-none" href="/">Inicio</a>
              <span class="breadcrumb-item active">Ajustes</span>
            </nav>
          </div>
        </div>
      </div>
      <!-- Breadcrumb End -->

      <div class="container-fluid pb-5">
        <div class="row px-xl-5">
          <div class="col">
            <div class="bg-light p-30">
              <div class="nav nav-tabs mb-4">
                <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Productos</a>
                <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Usuarios</a>
              </div>
              <div class="tab-content">

                <!-- Products -->

                <div class="tab-pane fade show active" id="tab-pane-1">

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="pb-3">
                      <span class="text-uppercase font-weight-bold">productos cargados: <%=Products.length%></span>
                    </div>
                    <div class="pb-3">
                      <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#productCreateModal"><span
                          class="text-uppercase font-weight-bold">nuevo</span></button>
                    </div>
                  </div>

                  <table class="table table-light table-hover text-center mb-0">
                    <thead class="thead-dark">
                      <tr>
                        <th class="d-none d-lg-block border-0">Nombre</th>
                        <th class="border-0">Codigo</th>
                        <th class="border-0">Precio</th>
                        <th class="d-none d-lg-block border-0">Stock</th>
                        <th class="border-0">Editar</th>
                        <th class="border-0">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% if (Products) { Products.forEach (item=> { %>

                        <tr>
                          <td class="d-none d-lg-block">
                            <p class="fw-bold mb-1">
                              <%=item.name%>
                            </p>
                          </td>
                          <td>
                            <p class="fw-normal mb-1">
                              <%=item.code%>
                            </p>
                          </td>
                          <td>
                            <p class="fw-normal mb-1">
                              <%=item.price%>
                            </p>
                          </td>
                          <td class="d-none d-lg-block">
                            <p class="fw-normal mb-1">
                              <%=item.stock%>
                            </p>
                          </td>
                          <td>
                            <button type="submit" data-toggle="modal" data-target="" data-id=""
                              class="btn btn-sm btn-success"><i class="fa fa-pen fa-sm"></i></button>
                          </td>
                          <td>
                            <button type="submit" data-toggle="modal" data-target="" data-id=""
                              class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                          </td>
                        </tr>

                        <% })} %>

                    </tbody>
                  </table>
                </div>

                <!-- Users -->

                <div class="tab-pane fade" id="tab-pane-2">

                  <div class="pb-3">
                    <span class="text-uppercase font-weight-bold">Usuarios registrados: <%=Users.length%></span>
                  </div>

                  <table class="table table-light table-hover text-center mb-0">
                    <thead class="thead-dark">
                      <tr>
                        <th class="border-0">Nombre</th>
                        <th class="d-none d-lg-block border-0">Email</th>
                        <th class="border-0">Rol</th>
                        <th class="border-0">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% if (Users) { Users.forEach (item=> { %>

                        <tr>
                          <td>
                            <p class="fw-bold mb-1">
                              <%=item.name%>
                            </p>
                          </td>
                          <td class="d-none d-lg-block">
                            <p class="fw-normal mb-1">
                              <%=item.email%>
                            </p>
                          </td>
                          <td>
                            <span class="badge badge-success rounded-pill d-inline">
                              <%=item.role%>
                            </span>
                          </td>
                          <td>
                            <button type="submit" data-toggle="modal" data-target="#userDeleteModal"
                              data-id="<%=item.id %>" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                          </td>
                        </tr>

                        <% })} %>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal User Delete -->

      <div class="modal fade" id="userDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Atencion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ¿Esta seguro que desea borrar el usuario?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
              <form action="" method="POST"><button type="submit" class="btn btn-danger">Borrar</button></form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Crear Producto-->

      <div class="modal fade" id="productCreateModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Creación de Producto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form action="/settings/product/create" method="POST">
                
                <div class="mb-3">
                  <select class="form-control" id="category" name="category">
                    <option value="">Seleccionar categoría</option>
                    <% if (Categories) { Categories.forEach(item => { %>
                      <option value="<%= item.name %>" <%= locals.old && locals.old.category === item.name ? 'selected' : '' %>>
                        <%= item.name %>
                      </option>
                    <% })} %>
                    <option value="other" <%= locals.old && locals.old.category === "other" ? 'selected' : '' %>>Otra categoría</option>
                  </select>
                </div>                              

                <!-- Campo adicional para ingresar el nombre de la nueva categoría -->
                <div class="mb-3 d-none" id="divNuevaCategoria">
                  <input type="text" class="form-control" id="newCategory" name="newCategory" placeholder="Nueva categoría" value="<%= locals.old && old.newCategory ? old.newCategory : "" %>">
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="code" name="code" placeholder="Código" value="<%= locals.old && old.code ? old.code : "" %>">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" value="<%= locals.old && old.name ? old.name : "" %>">
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="brand" name="brand" placeholder="Marca" value="<%= locals.old && old.brand ? old.brand : "" %>">
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="model" name="model" placeholder="Modelo" value="<%= locals.old && old.model ? old.model : "" %>">
                  </div>
                </div>               
              
                <div class="row mb-3">
                  <div class="col-md-6">
                    <input type="number" class="form-control" id="price" name="price" placeholder="Precio" value="<%= locals.old && old.price ? old.price : "" %>">
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control" id="stock" name="stock" placeholder="Stock" value="<%= locals.old && old.stock ? old.stock : "" %>">
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <div class="form-check form-check-inline">
                      <input type="checkbox" class="form-check-input" id="is_featured" name="is_featured" <% if (locals.old && locals.old.is_featured) { %> checked <% } %>>
                      Destacado
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check form-check-inline">
                      <input type="checkbox" class="form-check-input" id="is_offer" name="is_offer" <% if (locals.old && locals.old.is_offer) { %> checked <% } %>>
                      Oferta
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="images" class="form-label">Imágenes</label>
                  <input type="file" class="form-control" id="images" name="images" multiple value="<%= locals.old && old.images ? old.images : "" %>">
                </div>                

                <div class="mb-3">
                  <textarea class="form-control" id="description" name="description" placeholder="Descripción"><%= locals.old && locals.old.description ? locals.old.description : "" %></textarea>
                </div>                

                <% if (locals.errors) { errors.forEach (error=> { %>
                  <div class="small" style="color: red;"><%= error.msg %></div>
                <% })} %>

                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                  <button type="submit" class="btn btn-primary ml-2">Confirmar</button>
                </div>                

              </form>

            </div>
          </div>
        </div>
      </div>

      <%-include("./partials/footer.ejs")%>

        <!-- Tu código JavaScript/jQuery para abrir automáticamente el modal de productos si existen errores -->

        <% if (locals.errors) { %>
          <script>
            $(document).ready(function() {
              $('#productCreateModal').modal('show');
            });
          </script>
        <% } %>

        <!-- Script para mostrar u ocultar el campo de nueva categoría en el formulario -->

        <% if (locals.old && old.category && old.category === "other") { %>
          <script>
            var divNuevaCategoria = document.getElementById('divNuevaCategoria');
            divNuevaCategoria.classList.remove('d-none');            
          </script>
        <% } else { %>
        <script>
          document.getElementById('category').addEventListener('change', function () {
            var divNuevaCategoria = document.getElementById('divNuevaCategoria');
            if (this.value === 'other') {
              divNuevaCategoria.classList.remove('d-none');
            } else {
              divNuevaCategoria.classList.add('d-none');
            }
          });
        </script>

        <% } %>

        <!-- script para obtener el user id de la lista de users al momento de apretar el boton eliminar -->

        <script>
          $(document).ready(function () {
            // Cuando se hace clic en un botón con la clase "btn-danger"
            $('#userDeleteModal').on('show.bs.modal', function (event) {
              // Capturamos el botón que activó el modal
              var button = $(event.relatedTarget);
              // Obtenemos el valor de data-id del botón
              var userId = button.data('id');

              // Pasamos el valor al formulario de eliminación dentro del modal
              var modal = $(this);
              modal.find('form').attr('action', '/settings/user/delete/' + userId + '?_method=DELETE');
            });
          });
        </script>

  </body>

</html>